*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color:#4CAF50;
}
header{
    color: white;
    display: flex;
    justify-content: space-between;
    padding: 15px;
}
.collapsible{
    color: white;
    background-color: black;
    font-size: 30px;
    padding: 8px 13px;
    position: relative;
}
.collapsible:active,
.collapsible:hover{
    background-color: red;
}
.content{
    display: none;
    overflow: hidden;
    text-align: center;
    color: black;
    background-color: white;
    position: absolute;
    top: 35%;
    left: 25%;
    right: 25%;
    padding: 20px;
    border: 1px solid black;
    border-radius: 10px;
    font-size: 18px;
}
.chiusura{
    color: red;
    background-color: white;
    font-size: 13px;
    padding: 3px;
    position: absolute;
    top: 0;
    right: 0;
    ;
}
.corpo{
    color: black;
    font-size: 150px;
    font-weight: bold;
    text-align: center;
    margin: 50px 0;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
button{
    background-color:rgb(223, 3, 3);
    padding: 10px 20px;
    border-radius: 10px;
    margin-right: 10px;
    font-size: 50px;
    cursor: pointer;
}
.bottoni{
    display: flex;
    justify-content: center;
}
.colori{
    text-align: center;
    background-color: white;
    margin-top: 15%;
    margin-bottom: 2%;
    margin-left: 15%;
    margin-right: 15%;
    border-radius: 20px;
}
input{
    font-size: 18px;
    cursor: pointer;
}
#blu{
    color: #0000ff;
    background-color: white;
    margin: 10px;
    border: none;
}
#giallo{
    color: #b7c408;
    background-color: white;
    margin: 10px;
    border: none;
}
#grigio{
    color: #808080;
    background-color: white;
    margin: 10px;
    border: none;
}
#verde{
    color:#4CAF50;
    background-color: white;
    margin: 10px;
    border: none;
}
.stili{
    text-align: center;
    background-color: white;
    margin-left: 15%;
    margin-right: 15%;
    border-radius: 20px;
}
.font{
    background-color: white;
    margin: 9px 0 9px 4px;
    border: none;
}
footer{
    color: white;
    display: flex;
    justify-content: center;
}
#fantasy{
    font-family: fantasy;
}
#serif{
    font-family: serif;
}
#franklin{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
#courier{
    font-family: 'Courier New', Courier, monospace;
}
.piede{
    position: absolute;
    bottom: 0;
}

